<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorWebAppSIMDDetectExample.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <!-- <script src="_framework/blazor.web.js"></script> -->
    <!-- autostart is set to false so we can detect SIMD support and load the appropriate build -->
    <script src="_framework/blazor.web.js" autostart="false"></script>

    <!--
        WASM Feature Detect - from GoogleChromeLabs
        CDN UMD Version: https://unpkg.com/wasm-feature-detect/dist/umd/index.js
        Repo: https://github.com/GoogleChromeLabs/wasm-feature-detect
    -->
    <script webworker-enabled src="wasm-feature-detect.1.6.1.js"></script>
    <!--
        The below script tag is used to detect SIMD support on the running device and load the appropriate build
        If SIMD is not supported it loads _frameworkCompat/ instead of _framework/
        The below code uses Blazor runtime type detection also so they can be handled appropriately
    -->
    <script webworker-enabled>
        (async () => {
            var url = new URL(location.href);
            let verboseStart = url.searchParams.get('verboseStart') === '1';
            var forceCompatMode = url.searchParams.get('forceCompatMode') === '1';
            var supportsSimd = await wasmFeatureDetect.simd();
            if (verboseStart) console.log('supportsSimd', supportsSimd);
            // compat mode build could be built without wasm exception support if needed and detected here
            var supportsExceptions = await wasmFeatureDetect.exceptions();
            if (verboseStart) console.log('supportsExceptions', supportsExceptions);
            var useCompatMode = !supportsSimd;
            if (forceCompatMode) {
                if (verboseStart) console.log('forceCompatMode', forceCompatMode);
                useCompatMode = true;
            }
            if (verboseStart) console.log('useCompatMode', useCompatMode);
            // Blazor United (.Net 8 Blazor Web App) Blazor.start settings are slightly different than Blazor WebAssembly (Blazor WebAssembly Standalone App)
            var getRuntimeType = function () {
                for (var script of document.scripts) {
                    if (script.src.indexOf('_framework/blazor.web.js') !== -1) return 'united';
                    if (script.src.indexOf('_framework/blazor.webassembly.js') !== -1) return 'wasm';
                }
                return '';
            }
            var runtimeType = getRuntimeType();
            // customize the resource loader for the runtime that is loaded
            // https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/startup?view=aspnetcore-8.0#load-boot-resources
            var webAssemblyConfig = {
                loadBootResource: function (type, name, defaultUri, integrity) {
                    if (verboseStart) console.log(`Loading: '${type}', '${name}', '${defaultUri}', '${integrity}'`);
                    if (useCompatMode) {
                        let newUrl = defaultUri.replace('_framework/', '_frameworkCompat/');
                        return newUrl;
                    }
                },
            };
            if (runtimeType === 'wasm') {
                // Blazor WebAssembly Standalone App
                Blazor.start(webAssemblyConfig);
            } else if (runtimeType === 'united') {
                // Blazor Web App (formally Blazor United)
                Blazor.start({ webAssembly: webAssemblyConfig });
            } else {
                // Fallback supports both known Blazor WASM runtimes
                // Modified loader that will work with both United and WASM runtimes (doesn't require detection)
                webAssemblyConfig.webAssembly = webAssemblyConfig;
                Blazor.start(webAssemblyConfig);
            }
        })();
    </script>
</body>

</html>
